<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container section">
      <h1 class="title is-1">Welcome to {{ title }}!</h1>
      <h2 class="subtitle is-3">This is the about page.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A tenetur
        quidem, labore magni blanditiis facilis consectetur accusamus dolores
        sed eum eaque veniam facere est id fuga ratione optio ut esse! Molestiae
        id, est eligendi ex unde, commodi voluptates minima aliquam voluptatem
        fugit inventore exercitationem error repudiandae repellat omnis
        temporibus doloribus assumenda mollitia ratione possimus? Voluptate quia
        ex aliquid. Sapiente, quos!
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A tenetur
        quidem, labore magni blanditiis facilis consectetur accusamus dolores
        sed eum eaque veniam facere est id fuga ratione optio ut esse! Molestiae
        id, est eligendi ex unde, commodi voluptates minima aliquam voluptatem
        fugit inventore exercitationem error repudiandae repellat omnis
        temporibus doloribus assumenda mollitia ratione possimus? Voluptate quia
        ex aliquid. Sapiente, quos!
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A tenetur
        quidem, labore magni blanditiis facilis consectetur accusamus dolores
        sed eum eaque veniam facere est id fuga ratione optio ut esse! Molestiae
        id, est eligendi ex unde, commodi voluptates minima aliquam voluptatem
        fugit inventore exercitationem error repudiandae repellat omnis
        temporibus doloribus assumenda mollitia ratione possimus? Voluptate quia
        ex aliquid. Sapiente, quos!
      </p>
    </div>
  </div>
</section>
